<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<section>

		<h1>this is about section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio
			odio asperiores voluptate iusto perferendis molestiae aliquam natus a
			hic voluptas sapiente necessitatibus reiciendis dignissimos libero
			aperiam ipsum incidunt non cum tempora aliquid! Explicabo similique
			tempora molestias molestiae iste voluptatem incidunt reiciendis omnis
			ipsum nisi consequatur blanditiis facilis odio voluptate dolorem.</p>

	</section>

</body>
</html>