<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>

    <h1>Conditional in Thymeleaf</h1>
    
    <h1>
        Use this <span th:style="${isActive} ? 'color:green' : 'color:red'" th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'"></span>
    </h1>

    <h1 th:if="${gender == 'M'}">Male</h1>
    <h1 th:unless="${gender == 'M'}">Female</h1>

    <div th:switch="${#lists.size(myList)}">
        <h1 th:case="0">List contains zero elements</h1>
        <h1 th:case="1">List contains one element</h1>
        <h1 th:case="*">List contains more than one element</h1>
    </div>

</body>
</html>
